.gcloudignore
.git
.gitignore
.env
.venv
.pnpm-store
.tools
.pytest_cache
.loop
__pycache__
*.py[cod]
*.egg-info
node_modules
build
dist
data
frontend/dist
frontend/node_modules
frontend/*.tsbuildinfo
/package.json
/package-lock.json
/pnpm-lock.yaml
